.idea/
*.iml
node_modules
php_api_src/cache*
php_api_src/lastRun.txt
wwwroot/**/*.js
wwwroot/**/*.js.map
!wwwroot/lib/*.js
!wwwroot/lib/**/*.js
wwwroot/lib/numbersLab/*.js
wwwroot/lib/numbersLab/*.map
debug/
.vs
bin/*
wwwroot/service-worker.js
wwwroot/service-worker.js
Properties/PublishProfiles/FolderProfile1.pubxml
*.pubxml
